<div>
    <div class="d-flex justify-content-between meme-jumbotron-content">
        <p class="lead">Posted by <span class="text-capitalize font-weight-bold text-success">{{meme.name}}</span>
        </p>
        <button class="btn btn-primary btn-edit-meme" (click)="editMeme()">Edit Meme</button>
    </div>
    <figure class="figure meme-jumbotron-content">
        <img src={{meme.url}} class="figure-img img-fluid rounded" alt="Meme Not Found"
            onerror="this.src='../../assets/meme-not-found.png'">
        <figcaption class="figure-caption text-center">{{meme.caption}}</figcaption>
    </figure>
</div>