<div class="container">
    <div class="jumbotron meme-jumbotron">
        <div *ngIf="isLoading; else memesLoaded">
            <figure class="figure meme-jumbotron-content">
                <img src="../../assets/loading.gif" class="figure-img img-fluid rounded" alt="Loading">
                <figcaption class="figure-caption text-center">Memes are Loading...Please Wait</figcaption>
            </figure>
        </div>

        <ng-template #memesLoaded>
            <div *ngIf="memes.length === 0; else memesPresent">
                <h1 class="display-4 text-center">No Memes Present in Repository</h1>
                <hr class="my-4">
                <p class="lead text-center">Please Add Some Memes</p>
            </div>
            <div *ngFor="let meme of memes" #memesPresent>
                <app-meme [meme]="meme"></app-meme>
                <hr>
            </div>
        </ng-template>
    </div>
</div>